
body {
  width: 480px;
  margin: 0 auto;
}
.books {
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  border-radius: 3px;
  background: gray;
  text-align: center;
  padding: 30px 0px 30px 0px;
  margin: 30px;
  color: black;
}

.title {
  font-size: 1.5em;
}



li {
  margin: 10px;
}

.description {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  height: 150px;
  overflow: scroll;
}
