<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap" rel="stylesheet">
    <title>Hello World</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <!-- <link rel="stylesheet" href="/styles/modules.css"> -->
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/search.css">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> -->
</head>

<body>
  <main id="search-main">

  <header>
    <h2 class="indent"> Best Books!</h2>
   </header>

    
      <h5>Search by Title or Author</h5>
      <form action="/searches" method="post">
        <input  id="searchBox" type="text" name="search" placeholder="Enter a title or author" value="seattle" required>
        <fieldset class="radioButton">
          <label for="title">
            <span class="indent">Title</span>
            <input class="indent" type="radio" name="search" value="title" checked="checked" required>
          </label>
        </fieldset>
        <fieldset class="radioButton">
          <label for="author">
            <span class="indent">Author</span>
            <input  type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button id="submitSearch" type="submit">Search the Google Books API</button>
      </form>
    </main>
  </body>
</html>