<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Results</title>
</head>
<body>
  <h1>Search Results</h1>
  <ul>
    <% for (let i = 0; i < 10; i++){ %>
      <img src="<%= searchResults[i].image %>" alt="">
      <li><%= searchResults[i].title %></li>
      <li><%= searchResults[i].authors %></li>
      <li><%= searchResults[i].url %></li>
      <br>
    <% }%>
  </ul>
</body>
</html>