

.books {
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  border-radius: 3px;
  background: gray;
  text-align: center;
  padding: 30px 0px 30px 0px;
  margin: 0 auto;
  color: black;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
 

}

.title {
  font-size: 1.5em;
}


h1 {
  font-size: 25px;
  font-weight: bold;
}



li {
  font-weight: bold;
  margin: 12px;
  padding: 5px;
}

.description {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  height: 150px;
  overflow: scroll;
}

.hide-form {
  display: none;
}