

.books {
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  border-radius: 3px;
  background: gray;
  text-align: center;
  padding: 30px 0px 30px 0px;
  margin: 0 auto;
  color: black;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  font-size: 1.5em;
}


a {
  color: whitesmoke; 
  background-color: rgb(20, 20, 20); 

}


li {
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  padding-left: 25px;
 
}

.description {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  height: 150px;
  overflow: scroll;
}

.hide-form {
  display: none;
}

